.body{
    background: bisque;
    /* height: 100%; */
    /* width: 100%; */
    height: 100vh;
}

.jumbotron{
    background-color: aquamarine;
    color: black;
    margin-top: 50px;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: coral;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn{
    background-color: rgb(82, 13, 128);
    color: crimson;
}
.card-hotel{
    flex: 1 250px;
    padding: 5px 5px 5px 5px;
    margin: 5px 8px;
}

.list-hotel{
    padding: 5%;
}

.btn-reserva{
    width: 100%;

}

.footer-icon-address{
    padding-right: 10px;

}